* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #dcc1f1;
  --second-bg-color: #ffffff;
  --text-color: white;
  --main-color: #976eb8;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background-color: white;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


.header {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}


span {
  background: linear-gradient(270deg,
      #976eb8 10%,
      #ebaeee 100%);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-family: "Bebas Neue";
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  color: var(--main-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}


section {
  min-height: 100vh;
  padding: 10rem 15%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  flex-direction: row-reverse;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}

.home-content p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}


.gallery {
  background-color: #ffffff;
}

.gallery img {
  width: 32vw;
  height: 32vw;
  object-fit: cover;
  margin: 0.5em;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.2);
}

::-webkit-scrollbar {
  width: 1.25em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}


h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}



.tech-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tech-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  position: relative;
  padding: 2rem;

}

.tech-item img,
.tech-item i {
  width: 100px;
  height: 100px;

}

.tech-item i {
  font-size: 100px;

}

.tech-item img:hover,
.tech-item i:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;/
}

.tech-item .logo-name {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.tech-item:hover .logo-name {
  opacity: 1;
  color: black;
}

.skills {
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: space-between;
}

.skills-description {
  background-color: var(--main-color);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 5em;
  width: 60%;
}

.skills-description p {
  font-size: 2.6rem;
  color: #ffffff;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
  letter-spacing: 0.1rem;

}

.gallery p {
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: left;
  max-width: 75%;
  margin: 0 auto;
  display: block;
  padding-bottom: 2rem;
}

.galleryTitle {
  color: var(--main-color);
  font-size: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.tech-container {
  width: 35%;
  border-radius: 8px;
}

.tech-container h2 {
  color: var(--main-color);
  font-size: 4rem;
}

.projects {
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 25%;
  flex-wrap: wrap;
}

.projectsTitle {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--main-color);
  background-color: #ffffff;
  font-size: 4rem;
}

.projectdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff;
  width: 100%;
  width: 100%;
  flex-wrap: nowrap;
}

.projectimg {
  width: 32vw;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}

.projectimg:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

#modal-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

button[data-close-modal] {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
  color: white;
  line-height: 3rem;
}



@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .navbar a {
    font-size: 1.3rem;
  }

  .tech-container {
    display: none;
  }

  .skills-description {
    width: 100%;
  }

  .gallery img {
    width: 70vw;
    height: 70vw;
    pointer-events: none;
  }

  .projectdiv {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .projectimg {
    width: 100%;
    max-width: 90%;
    cursor: pointer;
  }

  .projectimg:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
  }


  .modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #modal-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
  }

  button[data-close-modal] {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    cursor: pointer;
    background-color: var(--main-color);
    border: none;
    border-radius: 50%;
    color: white;
  }


  @media (max-width: 480px) {
    .home-content h1 {
      font-size: 4.5rem;
    }

    .home-content p {
      font-size: 1.2rem;
    }

    .home-img {
      display: none;
    }

    .projectimg:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      opacity: 0.9;

    }
   
  }


}